html, body {
  margin: 0;
  font-family: 'Roboto';
}

.container {
  margin: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.create-room-dialog .mat-dialog-container {
  padding: 16px;
  overflow: hidden;
}
