@mixin bg-blue {
    background-image: url(./assets/blue.jpg);
}

@mixin bg-purple {
    background-image: url(./assets/purple_flipped.jpg);
}

@mixin button {
    width: 80%;
    max-width: 380px;
    height: 55px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 16px 0;
    border: none;
    outline: none;
    text-decoration: none;
}

@mixin content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

@mixin main-header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-weight: 200;
    font-size: 46px;
    margin: 10px 0;
}

@mixin dark-background {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    outline: none;
    width: 80%;
    max-width: 380px;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    box-sizing: border-box;
    font-size: 25px !important;
    font-weight: 200 !important;
}