<div class="view room-view view-2">

  <h1>Create a Room</h1>

  <!-- TODO: Make a form for submit -->
  <div class="input-wrapper">
    <label for="roomName" class="ipt-label">Room Name</label>
    <input id="roomName" class="ipt" type="text" [(ngModel)]="roomName">
    <label for="yourName" class="ipt-label">Your Name</label>
    <input id="yourName" class="ipt" type="text" [(ngModel)]="playerName">
  </div>

  <div class="btn-wrapper">
    <a class="btn" text="Create Room" (click)="createRoom($event)" ></a>
    <a class="btn warn" text="Cancel" href="/"></a>
  </div>

</div>