<div class="view room-view view-3">

    <h2 class="lg-white-title">{{roomService.room.name}}</h2>
  
    <span id="playerCount">
        {{roomService.room.players.length}} Player<span *ngIf="roomService.room.players.length > 1">s</span> in the Party
    </span>
    <div class="players-wrapper">
        <div class="scroll-container">
            <div *ngFor="let player of roomService.room.players">
                {{player.name}}
                <span id="partyLeader" *ngIf="player.id === roomService.room.creator">&nbsp;(Party leader)</span>
            </div>
        </div>
    </div>

    <!-- should only visible by party leader -->
    <span *ngIf="roomService.player.id === roomService.room.creator" class="lg-white-text">Press Start when all players have joined</span>
    <!-- should only visible by non party leader members -->
    <span *ngIf="roomService.player.id !== roomService.room.creator" class="lg-white-text">Waiting for party leader to start...</span>
  
    <div class="btn-wrapper">
        <!-- should only visible by party leader -->
        <a *ngIf="roomService.player.id === roomService.room.creator" class="btn" text="Start" href="/Games" (click)="startRoom($event)" ></a>
        <a class="btn warn" text="Leave Party" href="/"></a>
    </div>
  
  </div>