<mat-card>
  <mat-card-title>Fishbowl</mat-card-title>
  <mat-card-subtitle>Subtitle</mat-card-subtitle>
  <img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA4NC83NDgvb3JpZ2luYWwvb2NlbGxhcmlzLWNsb3duZmlzaC5qcGc=" mat-card-image>
  <mat-card-content>Some description about Fishbowl here...</mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createRoom('Fishbowl')">Create</button>
    <button mat-raised-button color="basic" (click)="joinRoom('Fishbowl')">Join</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Sample Game 2</mat-card-title>
  <mat-card-subtitle>Subtitle</mat-card-subtitle>
  <img src="" mat-card-image>
  <mat-card-content>Some description about game here...</mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary">Create</button>
    <button mat-raised-button color="basic">Join</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Sample Game 3</mat-card-title>
  <mat-card-subtitle>Subtitle</mat-card-subtitle>
  <img src="" mat-card-image>
  <mat-card-content>Some description about game here...</mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary">Create</button>
    <button mat-raised-button color="basic">Join</button>
  </mat-card-actions>
</mat-card>
